@charset "UTF-8";
/*font size absoluta de todo*/
html {
  font-size: 10px;
}

/*margenes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Color de fondo*/
.colorFondo {
  background-color: black;
}

/*index grid layout*/
.gridIndex {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*grid resto de paginas*/
.gridsAuto {
  display: grid;
  grid-template-rows: auto;
}

/*encabezado y pie de pagina*/
.bordes {
  background-color: rgba(207, 42, 42, 0.906);
  text-align: center;
}
.bordes .headerSticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
}
.bordes .enlaces__nav {
  font-size: 2.4rem;
  display: flex;
  justify-content: space-evenly;
}
.bordes .enlaces__nav .enlaces__nav__a {
  color: antiquewhite;
  text-decoration: none;
  display: inline-block;
  margin: 1.3%;
  width: 150px;
  padding: 0.32%;
}
.bordes .enlaces__nav .enlaces__nav__a--bold {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 1.3%;
  width: 150px;
  padding: 0.32%;
}

/*textos: color, formato, titulos*/
.textos {
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
}

h1 {
  font-size: 4.8rem;
}

.subtitulosGaleria {
  font-size: 3.5rem;
}

.textCenter {
  text-align: center;
}

.textoIndex {
  font-size: 3.6rem;
  background-color: black;
  text-align: center;
}

.textBoxIndex {
  margin-top: 10%;
  width: 40vw;
  font-size: 200%;
}

.textBox {
  background-color: brown;
  width: 95vw;
  margin: 0 auto;
  padding: 1%;
}

.formatoTextBox {
  font-size: 2rem;
  text-align: justify;
}

/*imagen de fondo index*/
.imagenFondo {
  background-image: url(../src/bannerestudio.jpg);
  height: 100vh;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

/*Página El Estudio*/
/*video del estudio*/
.videoStudio {
  width: 100vw;
}
.videoStudio .videoEstilo {
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*boxes de El Estudio*/
.containerBoxes {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
.containerBoxes .boxElestudio {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: outset 5px brown;
  margin: 20px;
  padding: 20px;
  width: 30%;
}

.imgBox {
  width: 100%;
}

/*Página Servicios*/
/*formato imagenes servicios*/
.formatoServicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/*Página Galería*/
/*galería imagenes*/
.containerGaleria {
  width: 95vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imgGaleria {
  width: 400px;
  border: outset 5px brown;
  margin: 30px;
  transition: transform 0.5s;
}

.imgGaleria:hover {
  transform: scale(150%);
  cursor: zoom-in;
}

.logoBanda {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
}

.imgBanda {
  width: 40%;
}

.videosGaleria {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  margin-bottom: 3%;
}

/*logos redes sociales banda article*/
.containerRedes {
  width: 95vw;
  margin: 0 auto;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.redesGangi {
  width: 65%;
  transition: transform 1s, background-color 1s;
}

.redesGangi:hover {
  background-color: red;
  transform: scale(110%);
}

/*box contacto superior*/
.containerContactoSup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
.containerContactoSup .boxContacto {
  width: 30%;
  font-size: 250%;
  text-align: center;
  margin: 0;
  padding: 0%;
}

.logo {
  width: 60%;
}

/*box contacto inferior*/
.containerContactoInf {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 0 auto;
}
.containerContactoInf .boxContactoInf {
  width: 50%;
  height: 100%;
  margin-top: 2%;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 150%;
}

.linkig {
  text-decoration: none;
  color: antiquewhite;
}

/*Display Responsive*/
@media screen and (max-width: 768px) {
  .videosGaleria {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .containerBoxes {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100vw;
  }
  .containerBoxes .boxElestudio {
    width: 90%;
  }
  .containerContactoSup {
    flex-direction: column;
  }
  .containerContactoSup .boxContacto {
    font-size: 120%;
  }
  .containerContactoInf {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .containerContactoInf .boxContactoInf {
    width: 90%;
  }
  .logo {
    width: 100%;
  }
  .imgGaleria:click {
    transform: scale(150%);
  }
  .video-container {
    position: relative;
    padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
    height: 0;
    width: 95%;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
  }
  .video-elestudio {
    width: 100vw;
  }
  .textBoxIndex {
    margin-top: 10%;
    width: 40vw;
    font-size: 100%;
  }
  .colorFondo {
    overflow-x: hidden;
  }
}/*# sourceMappingURL=estilos.css.map */